.header-theme{
    color: white;
    background: linear-gradient(180deg, rgb(25.098% 24.706% 25.490%) 0%, rgb(25.098% 24.706% 25.490%) 6.25%, rgb(25.096% 24.704% 25.488%) 12.5%, rgb(25.089% 24.697% 25.482%) 18.75%, rgb(25.071% 24.678% 25.462%) 25%, rgb(25.031% 24.639% 25.419%) 31.25%, rgb(24.958% 24.566% 25.343%) 37.5%, rgb(24.839% 24.447% 25.217%) 43.75%, rgb(24.657% 24.265% 25.025%) 50%, rgb(24.391% 23.999% 24.745%) 56.25%, rgb(24.067% 23.629% 24.354%) 62.5%, rgb(23.521% 23.129% 23.826%) 68.75%, rgb(22.865% 22.472% 23.123%) 75%, rgb(22.022% 21.630% 22.244%) 81.25%, rgb(20.960% 20.568% 21.123%) 87.5%, rgb(19.645% 19.253% 19.735%) 93.75%, rgb(18.039% 17.647% 18.039%) 100% );
}

.navbar-theme{
        color: #414042;
        border: 25px solid;
        border-color: #767676;
}

.car-item{
}